.load{

width: 20px;
height: 20px;
border: 8px solid;
margin: 0 auto;
border-radius: 50px;
border-top-color: transparent;
margin-top: 50%;
color: blue;
animation: load .6s  linear infinite;
}

@keyframes load {

    to{

  transform: rotate(360deg);
    

    } 
    
}